.assignation-container {
    padding: 20px 0px 0px 0px;
    width: 60%;
    margin: auto;
}
.podMembertitle{
    margin-top: 30px;
    margin-bottom: 37px;
    text-align: center;
}

.btn-search {
    margin-top: 40px;
}
