.container {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding: 0 30px;
  height: auto;
  position: relative;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.background-image {
  width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
